

@font-face {
	font-family: "TragicMarker"; 
	src: url("font/TragicMarker.eot");
	src: url("font/TragicMarker.woff") format("woff")
	;
}
/*
light: #51baea
red: #eb1e23
orange: #f15c22
purple: #35439c
dark: #2e3842
*/

.hr {
	width: 100%;
}

p.head {
    text-align: right;
    margin: .2em .2em;
}

p {
	margin: 0ex .2em 1ex .2em;
}

img {
	margin: 1em 0em;	
}

div.gallery {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}
div.gallery > img {
	max-width: 85%;
	/* min-width: 100px; */
	width: 30em;
	height: auto;
	padding: .4em;
	margin: .4em;
	box-shadow: 0px 0px 8px 0px;
	color:  black;
	background: #ffffff2e;
}

ul.worklist {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	margin: .5em 0em;
	padding: .5em 0em;
	xmargin-block-start: 1em;
	xmargin-block-end: 1em;
	padding-inline-start: 0px;
	border: solid thin #ccc;
    border-left-style: none;
    border-right-style: none;
}

ul.worklist > * {
	/* float: left; */
	list-style: none;
	display: block;
	height: 3em;
}

ul.worklist > li {
	min-width: 4em;
	padding: .2em .1em .5em .1em;
	margin: .2em .1em;
	border: solid thin #333;
	border-top-width: thick;
	border-top-color: #333;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
}

ul.worklist > li:hover {
	border-top-color: #fff;
	background-color: rgba(50, 50, 50, 0.75);
	color: #fff;
}

ul.worklist > *.active {
	border-top-color: #ccc;
	background-color: rgba(50, 50, 50, 0.5);
	color: #ccc;
}


div.pages {
    min-width: 10em;
    margin: .5em;
}


div.pages > div {
	display: none;
}

div.pages p {
	max-width: 30em;
}

div.pages > div.active {
    align-items: center;
	display: flex;
	flex-direction: column;
}

div.center {
	margin: auto;
}

div.businesscardfloat {
	float: right;
	transform: rotate(-5deg);
	overflow: visible;
	/* box-shadow: 00px 0px 3px 3px white; */
	padding: 1em 1ex;
	background: #2e3842;
	color: #bdc9dd;
	margin: 0em 1ex -5em 0ex;
	animation: rotatecard 0.3s normal forwards ease-in-out;
}
@keyframes rotatecard {
  100%  { transform: rotate(0deg);}
}

div.businesscard {
	width: 17em;
	white-space: nowrap;
}
div.businesscard > img {
	float: left;
}
div.businesscard > ul {
  float: left;
  margin: .2em;
  padding: .2em;
}
div.businesscard > ul > li {
	list-style: none;
}
div.businesscard > ul > li:first-child {
	font-style: italic;
}

div.about {
	column-width: 30ex;
}

.footer {
	font-size: 80%;
	background: #2e3842;
	color: #bdc9dd;
}

a:link, a:visited { 
    text-decoration: none;
	color: inherit;
}
a:hover {
}

body {
    font-family: tahoma, helvetica, sans-serif;
    color: #bdc9dd;
    margin: 0px;
    background-image: url("background.jpg");
    background-repeat: repeat;
    background-size: auto;
    background-color: black;
    font-size: 100%;
}

h1 { 
    font-style: normal;
    text-align: center;
    font-size: 300%; 
    color: #51baea; 
	background: black;
    padding: .2ex 0em .2ex 0em;
    margin: 0ex 0em 0ex 0em;
    clear: both;
}
h1 img {
	position: absolute;
	height: 2ex;
	float: right;
	margin: 0em .2ex;
}

h2 { 
    text-align: center; 
    padding: 0em;
    margin: 0em;
}
hr { clear: both; }


a:link, a:visited { 
    text-decoration: none;
    /* color: #341a0c; */
}
.job a:link, .job a:visited {
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

.invisible {
    display: none;
}

#git-id {
	font-size: 50%;
	opacity: .5;
	position: fixed;
	bottom: 0%;
	elft: 0%;
	color: gray;
}

#git-id::after {
	content: " theme.css=$Id$"
}