/*
light: #51baea
red: #eb1e23
orange: #f15c22
purple: #35439c
dark: #2e3842
*/

p {
	margin: 0ex .2em 1ex .2em;
}

div.worklist {
  margin: .2ex 10% .2ex 10%;
  column-width: 17ex;
  width: auto;
}
div.worklist > ul {
  padding: 0ex 0em 0ex 1em;
  margin: 0ex 0em 0ex 0em;
  display: block;
}

div.worklist > ul > li {
  display: block;
  padding: .2ex .2em .2ex .2em;
  border-left: .2em solid white;
  margin: .2ex auto .2ex auto;
  word-break: normal;
  background: #2e3842;
  color: #bdc9dd;
}

div.center {
	margin: auto;
}

div.businesscardfloat {
	float: right;
	transform: rotate(-5deg);
	overflow: visible;
	box-shadow: 00px 0px 3px 3px white;
	padding: 1em 1ex;
	background: #2e3842;
	color: #bdc9dd;
	margin: 0em 1ex -5em 0ex;
}

div.businesscard {
	width: 17em;
	white-space: nowrap;
}
div.businesscard > img {
	float: left;
}
div.businesscard > ul {
  float: left;
  margin: .2em;
  padding: .2em;
}
div.businesscard > ul > li {
	list-style: none;
}
div.businesscard > ul > li:first-child {
	font-style: italic;
}

div.about {
	column-width: 30ex;
}

.footer {
	font-size: 80%;
	background: #2e3842;
	color: #bdc9dd;
}

.pagelinks { font-size: small; float: left; width: 100%; border-bottom: 3px solid #c8b5a6; }
.pagelinks .first { clear: both; float: left; }
.pagelinks .rest { clear: right; float: right; }
.pagelinks a, .pagelinks a:link, .pagelinks a:visited { 
    text-decoration: none; 
    color: #d9e8d9; 
}
.pagelinks a {
    background: #164e14;
    padding: 2px;
    padding-top: 0px;
    border-bottom: 3px solid #c8b5a6;
}
.pagelinks a:visited { text-decoration: none }

body {
    font-family: tahoma, helvetica, sans-serif;
    background: white;
    color: #2e3842;
	margin: 0px;
}

h1 { 
    font-style: normal;
    text-align: center;
    font-size: 300%; 
    color: #51baea; 
	background: #2e3842;
    padding: .2ex 0em .2ex 0em;
    margin: 0ex 0em 0ex 0em;
    clear: both;
}
h1 img {
	position: absolute;
	height: 2ex;
	float: right;
	margin: 0em .2ex;
}

h2 { 
    text-align: center; 
    padding: 0em;
    margin: 0em;
}
hr { clear: both; }


a:link, a:visited { 
    text-decoration: none;
    /* color: #341a0c; */
}
.job a:link, .job a:visited {
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

.invisible {
    display: none;
}


