/*
light: #51baea
red: #eb1e23
orange: #f15c22
purple: #35439c
dark: #2e3842
*/

.hr {
	width: 100%;
}

p.head {
    text-align: right;
    margin: .2em .2em;
}

p {
	margin: 0ex .2em 1ex .2em;
}

ul.worklist > li {
	display: inline-flex;
	
}

ul.worklist {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
	width: 100%;
	border: solid thin #ccc;
	border-left-style: none;
	border-right-style: none;
	padding: 1em 0em;
}

ul.worklist > li {
    display: inline-flex;
    padding: 1.5em 1em;
    margin: 0em .1em 0;
    border: solid thin #111;
    border-top-width: thick;
    border-top-color: #333;
}

ul.worklist > li:hover {
	border-top-color: #ccc;
}



div.pages {
    min-width: 10em;
    max-width: 30em;
    width: unset;
    display: flex;
    align-items: center;
    margin: 5%;
    flex-direction: column;
    flex-wrap: wrap;
	margin: auto;
}


div.pages > div {
	display: none;
}
div.pages > div.active {
	display: inline-block;
}

div.center {
	margin: auto;
}

div.businesscardfloat {
	float: right;
	transform: rotate(-5deg);
	overflow: visible;
	box-shadow: 00px 0px 3px 3px white;
	padding: 1em 1ex;
	background: #2e3842;
	color: #bdc9dd;
	margin: 0em 1ex -5em 0ex;
  animation: rotatecard 0.3s normal forwards ease-in-out;
}
@keyframes rotatecard {
  100%  { transform: rotate(0deg);}
}

div.businesscard {
	width: 17em;
	white-space: nowrap;
}
div.businesscard > img {
	float: left;
}
div.businesscard > ul {
  float: left;
  margin: .2em;
  padding: .2em;
}
div.businesscard > ul > li {
	list-style: none;
}
div.businesscard > ul > li:first-child {
	font-style: italic;
}

div.about {
	column-width: 30ex;
}

.footer {
	font-size: 80%;
	background: #2e3842;
	color: #bdc9dd;
}

a:link, a:visited { 
    text-decoration: none;
	color: inherit;
}
a:hover {
}

body {
    font-family: tahoma, helvetica, sans-serif;
    background: black;
    color: white;
	margin: 0px;
	
}

h1 { 
    font-style: normal;
    text-align: center;
    font-size: 300%; 
    color: #51baea; 
	background: black;
    padding: .2ex 0em .2ex 0em;
    margin: 0ex 0em 0ex 0em;
    clear: both;
}
h1 img {
	position: absolute;
	height: 2ex;
	float: right;
	margin: 0em .2ex;
}

h2 { 
    text-align: center; 
    padding: 0em;
    margin: 0em;
}
hr { clear: both; }


a:link, a:visited { 
    text-decoration: none;
    /* color: #341a0c; */
}
.job a:link, .job a:visited {
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

.invisible {
    display: none;
}


